body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: white;
    /* margin-bottom: 5rem; */
}
.ml-auto{
    margin-left: auto;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 1.5;
    font-size: 3rem;
}
.container-fluid{
    padding: 3% 15% 7%;
}

/* navbar */

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: lowercase;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* buttons */

.button{
    margin: 5% 3% 5% 0;
}


/* title image */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* feature */
#features{
    padding: 8rem 0;
    background-color: white;
    position: relative;
    z-index: 999;
}
.feature{
    text-align: center;
    top: 0;
}
h3{
    font-family: 'Montserrat';
    font-weight:  600;
    font-size: 1.5rem;
}
.feature p{
    color: #8f8f8f;
    padding: 7% 15%;
}
.feature-i{
    /* font-size: 3rem; */
    color: #ef8172;
    margin-bottom: 1.5rem;
}
.feature-i:hover{
    color: #ff4c68;
}

/* testimonial */

#testimonials{
    background-color: #ef8172;
    padding: 7% 15%;
    text-align: center;
    color: white;
}
.testimonial-img{
     width: 10%;
     border-radius: 50%;
     margin: 1% 2% 1% 0;
}


/* PRESS SECTION */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#press img{
    width: 180px;
    margin: 0 5% 2% 0;
}


/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
.card{
    border-radius: 10px;
}

/* cta */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15%;
    color: white;
}
.btn-footer{
    margin: 2% 2%;
}

#cta h3{
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: 700;
}
/* footer */

#footer{
    padding: 3% 7%;
}
#footer i{
    margin: 1% 1% 2% 0;
}


/* responsive */

@media (max-width: 1028px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }

}